/* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  color: gray;
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
  
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  right: 15px;
  left:  15px;
  top: 100px;
  bottom: 15px;
  border: 5px solid #f1f1f1;
  background-color:gray;
  z-index: 3;
  align-items: center;
}
/* Add styles to the form container */
.form-container {
  align-items: center;
  width:90%;
  margin: auto;
  padding:10px ;
  
}
.form-title{
  width: 50px;
  
}
.form-img{
 position: relative; 
 width: 500px;
 margin: 1.5rem 25%;
 transition: .3s;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


